
.breadcrumbs {
    max-width: 1200px;
    margin: 20px 0;
}

.breadcrumbs > * {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb::after {
    content: ">";
    color: rgb(107, 211, 246);
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child::after{
    display: none;
}

/* .breadcrumbs .crumb a {
    color: #ddd;
} */